.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: opacity 300ms, visibility 300ms;
  overflow-y: scroll;
}
.backdrop .is-hidden .model {
  transform: rotate(200deg);
}
.model {
  width: 450px;
  min-height: 609px;
  position: absolute;
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 250ms;
  @media screen and(min-width:1200px) {
    width: 528px;
    height: 581px;
  }
}
.button-modal {
  position: absolute;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 300ms cubic-bezier(0.45, 0.55, 0.62, 0.51);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* .form-modal {
  min-width: 528px;
  min-height: 581px;
} */
.title-modal {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;

  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
.name-modal {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}
.modal-svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-name {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal-input {
  display: flex;
  width: 100%;
  min-height: 40px;
  justify-content: center;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  &:focus {
    border-color: #188ce8;
  }
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-svg {
  fill: #188ce8;
}
.comments {
  min-height: 120px;
  resize: none;
  padding: 12px 16px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comm {
  display: flex;
  width: 100%;
  min-height: 120px;
  justify-content: center;
  margin-bottom: 10px;
  padding: 12px 16px;
}
.button-send {
  display: block;
  cursor: pointer;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;

  margin: 0 auto;
  margin-top: 30px;
}

.modal-check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  display: block;
  margin-right: 5px;
}
.modal-check:checked + .modal-check-text::before {
  background-image: url(../images/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
.modal-check-text {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-link {
  color: var(--accent-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-skip-ink: none;
}
.modal-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
