.portfolio {
  margin-top: 94px;
}
.container-tabs {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  &__title {
    display: none;
  }
  &__list {
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    margin-bottom: 15px;
    font-family: Roboto;
    margin-right: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    color: var(--first-text-color);
    border: none;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 6px 22px;
    &:hover,
    &:focus {
      background: var(--accent-color);
      color: var(--button-color);
    }
  }
}
